.Background {
    background: white;
    height: 100vh;
    margin: none;
    padding: none;
    border: none;
}

.App {
    height: 90vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #545454;
    
}

.clickText {
    font-family: 'Patua One', cursive;
    font-size: 10vh;
    padding: 1vh;
    border-bottom: 0.1vh solid black;    
    border-top: 0.1vh solid black;
    margin: 2vh;
}

.button {
    width: 100%;
    background: none;
    height: 12vh;
    text-decoration: none;
    font-family: 'Patua One', cursive;
    font-size: 5vh;
    padding: 1vh;
    margin: 2vh;
    cursor: pointer;
    border: none;
    border-bottom: 0.1vh solid black;
    border-top: 0.1vh solid black;
    border-radius: 0.2vh;
    box-shadow: none;
    outline:none;
    color: #545454;
}

.button:hover {
    background: black;
    color: white;
    width: 90vw;
    border: 0.3vw solid white;
    height: 12vh;
}

.copyHide {
    display: none;
}

.copyText {
    font-size: 2.4vh;
    text-align: center;
}

h2 {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.hide {
    visibility: hidden;
    display: none;
}

